.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  height:100%;
  width:100%;
  max-width:640px;
  padding-left:10px;
  padding-right:10px;
  margin-right:0;
  margin-left:0;
  border: 1rem solid;
  border-color: red;
}

.slider-block-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-title{
  padding-right:10px;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-column h4{}
.form-column{
  display: flex;
  flex-direction: column;
}
.form-list{
  list-style: none;
}
.form-list li{
  text-align:left;
}