.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.App li {
    list-style: none;
}
.paragraph{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input[type='range'] {
    -webkit-appearance: none !important;
    background:red;
    height:7px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:blue;
    height:10px;
    width:10px;
}
.container{
  height:10%;
  width:100%;
  max-width:640px;
  border: 1rem solid;
  border-color: red;
  background-image: url('borsh.svg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
.center{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.slider-block-title{
  display: flex;
  justify-content: space-between;
}
.slider-block-title-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.slider-block-title-column{
  display: flex;
  flex-direction: column;
}
.slider-title{
  padding-right:10px;
}

.form{
  display: flex;
}
.form-column{
  display: flex;
  flex-direction: column;

}
.form-list li{
  list-style: none;
}

.form-list label{
  word-wrap: break-word;
}


.slicing {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.slicing-title{
  align-items: left;
}
.slicing-list ul{
  display: flex;
  flex-direction: row;
  
}
.slicing-list li{
}
.order{
  border:1px solid black;
}
.additional{
  display: flex;
  display: row;
}
